# DOTFILES
.env
.firebaserc

# FILES
firebase.json
firestore.indexes.json
firestore.rules
yarn-error.log
yarn.lock
static/assets/javascripts/hash.js

# DIRECTORIES
node_modules/*
key/*

# OTHER
y
yarn-error.log
yarn.lock